.tabl {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: whitesmoke;
  }
  
.tabl td, .tabl th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
.tabl tr:nth-child(even){
    background-color: white;
}
  
.tabl tr:hover {background-color: #ddd;}
  
.tabl th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: dodgerblue;
}

.butt {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 10px;
  cursor: pointer;
  border-radius: 12px;
}

.butt:hover {
background-color: dodgerblue;
text-decoration: none;
color: aliceblue;
}